
<style>
#rcorners {
  border-radius: 25px;
  background: #7a7670;
  padding: 20px;
  width: 100px;
  height: 57px;
}
body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/48/940/26/smoke-digital-art-abstract-textured-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<center><a id="rcorners" href="{% url 'doc' %}" class="btn btn-info btn-lg"><b>Add New Doctor<b></b></a>
<a id="rcorners" href="{% url 'patient' %}" class="btn btn-info btn-lg">Add New Patient</a>
<a style="background-color:powderblue;"  href="/show" class="btn btn-primary"><h1>Show All Details<h1></a></center>
</center>